---
import { getCollection, render } from "astro:content";
import ContactExpertBanner from "../../components/ContactExpertBanner.astro";
import CreateOpportunity from "../../components/CreateOpportunity.astro";
import PageHeader from "../../components/PageHeader.astro";
import Section from "../../components/Section/Section.astro";
import Stack from "../../components/Stack/Stack.astro";
import Text from "../../components/Text/Text.astro";
import VisuallyHidden from "../../components/VisuallyHidden.astro";
import Layout from "../../layouts/Layout.astro";
import type { Page } from "../../site.config";

export const prerender = true;

export const getStaticPaths = async () => {
	const articles = await getCollection("articles");

	return articles.map((article) => ({
		params: { id: article.id },
		props: { article },
	}));
};

const { article } = Astro.props;
const { Content } = await render(article);

const page: Page = {
	path: article.id,
	label: article.data.title,
	header: {
		title: article.data.title,
		subtitle: article.data.description,
	},
};
---
<Layout page={page} usePageHeader={false}>
	<article class="l-article">
		<Section as="header">
			<!--
				Page title must be before author and date to keep a logical reading flow.
				The order is changed visually.
			-->
			<Stack gap={4} reversed={true}>
				<PageHeader page={page} />
				{(article.data.author || article.data.date) && (<Stack as="ul" class="u-list-reset u-list-style:none" axis="x" gap={2}>
						{ article.data.author && <Text as="li" variant="surtitle">
							<VisuallyHidden label="Auteur" />
							<strong>{article.data.author}</strong>
						</Text> }
						{ article.data.date && <Text as="li" variant="surtitle">
							<VisuallyHidden label="Date" />
							{article.data.date}
						</Text> }
					</Stack>
				)}
			</Stack>	
		</Section>

		<div class="l-section--condensed">
			<div class="prose">
				<Content />
			</div>
			
			{ article.data.contactExpertBanner && <ContactExpertBanner as="aside" titleTag="h2" /> }
		</div>
	</article>

	<CreateOpportunity altColor={true} />
</Layout>
