---
import { getCollection, getEntry, render } from "astro:content";
import { Icon } from "astro-icon/components";
import BadgeList from "../../components/BadgeList/BadgeList.astro";
import { Button } from "../../components/Button/Button";
import ContactExpertBanner from "../../components/ContactExpertBanner.astro";
import Link from "../../components/Link/Link.astro";
import Section from "../../components/Section/Section.astro";
import SectionHeader from "../../components/SectionHeader/SectionHeader.astro";
import Stack from "../../components/Stack/Stack.astro";
import Text from "../../components/Text/Text.astro";
import VisuallyHidden from "../../components/VisuallyHidden.astro";
import { Content, frontmatter } from "../../content/formations/sur-mesure.md";
import Layout from "../../layouts/Layout.astro";
import { type Page, pages } from "../../site.config";

const trainingWithFrontguys = await getCollection("trainingWithFrontguys");
console.log(frontmatter);

const page: Page = {
	path: pages.trainingCustom.path,
	label: frontmatter.title,
	header: {
		title: frontmatter.title,
		subtitle: frontmatter.description,
	},
};
---
<Layout page={page} usePageHeader={false}>
	<article class="l-article">
		<Section as="header">
			<Stack gap={4}>
				<Link
					variant="back"
					href={pages.trainings.path}
					label="Toutes nos formations" />
				<Text as="h1" variant="heading-2">
					{page.header.title}
				</Text>
				
				<BadgeList
					label="Informations pratiques"
					badges={[
						{
							label: `Niveau ${frontmatter.level}`,
						},
						{
							label: "Durée à définir",
						},
						{
							title: "Prix",
							label: "Sur devis",
						},
					]}
				/>
				<Text variant="subtitle">{pages.trainingCustom.header.subtitle}</Text>
				<Button as="a" href={pages.contact.path} variant="primary">Contactez-nous</Button>
			</Stack>	
		</Section>

		<div class="l-section--condensed">
			<div class="prose">
				<Content />
			</div>

			<VisuallyHidden as="h2" label="Informations pratiques"/>
			<dl class="grid" style="--max-cols-per-row: 4; --col-min-width: 150px; --cell-padding: 0;">
				<Stack gap={2}>
					<Text as="dt" variant="heading-6">Niveau</Text>
					<Text as="dd">{frontmatter.level}</Text>
				</Stack>
				<Stack gap={2}>
					<Text as="dt" variant="heading-6">Durée</Text>
					<Text as="dd">À définir</Text>
				</Stack>
				<Stack gap={2}>
					<Text as="dt" variant="heading-6">Prix présentiel</Text>
					<Text as="dd">Sur devis</Text>
				</Stack>
				<Stack gap={2}>
					<Text as="dt" variant="heading-6">Prochaines sessions</Text>
					<Text as="dd">
						<Link href={pages.contact.path} label="Nous contacter" />
					</Text>
				</Stack>
			</dl>
			
			<ContactExpertBanner title="Formateur" titleTag="h2" />

			<Link
					variant="back"
					href={pages.trainings.path}
					label="Toutes nos formations" />
		</div>
	</article>

	<Section as="aside" verticallyCentered={true} color="semantic-background-default-alt">
		<SectionHeader title="Pourquoi faire de Frontguys votre partenaire de formation ?" />
		<ul class="grid u-list-reset accessibility-key-arguments">
			{trainingWithFrontguys.map(({ data: { title, text } }) => (
			<Stack as="li" gap={4} align="center">
				<Icon aria-hidden="true" name="star" size={24} />
				<Text
						as="h3"
						variant="heading-5"
						class="u-text-align:center u-text-wrap:balance"
					>
						{title}
					</Text>
					<Text
						variant="subtitle"
						class="u-text-align:center u-text-wrap:balance"
						set:html={text}
					/>
			</Stack>
			))}
		</ul>
	</Section>
</Layout>
