---
import { getCollection } from "astro:content";
import imgQualiopi from "../assets/img/qualiopi.png";
import BadgeList from "../components/BadgeList/BadgeList.astro";
import Card from "../components/Card/Card.astro";
import CreateOpportunity from "../components/CreateOpportunity.astro";
import List from "../components/List/List.astro";
import MediaObject from "../components/MediaObject/MediaObject.astro";
import Section from "../components/Section/Section.astro";
import SectionHeader from "../components/SectionHeader/SectionHeader.astro";
import Stack from "../components/Stack/Stack.astro";
import Text from "../components/Text/Text.astro";
import { frontmatter as TrainingCustomFrontmatter } from "../content/formations/sur-mesure.md";
import Layout from "../layouts/Layout.astro";
import { pages } from "../site.config";
import { getCollectionSortedByOrder } from "../utils/collection.utils";
import { formatPrice } from "../utils/string.utils";

const trainings = await getCollectionSortedByOrder("trainings");
const trainingMethods = await getCollection("trainingMethods");
---

<Layout page={pages.trainings}>
  <Section>
		<SectionHeader title="Nos parcours de formation" />
    <div class="grid" style="--max-cols-per-row: 2; --col-min-width: 500px; --row-gap: var(--col-gap);">
			{
				trainings.map(({ id, data: { title, level, duration, price, description, scope } }) => (
					<Card
						variant="freeform"
						title={title}
						url={`${pages.trainings.path}/${id}`}
					>
						<BadgeList
							label="Informations pratiques"
							badges={[
								{
									label: `Niveau ${level}`,
								},
								{
									title: "Durée",
									label: duration,
								},
								{
									title: "Prix Hors Taxes",
									label: `${formatPrice(price)}`,
								},
							]}
						/>
						<Text>
							{description}
						</Text>
						<List
							title="Ce que vous apprendrez :"
							items={scope}
						/>
					</Card>
				))
			}
      <Card
        variant="freeform"
        title="Adaptez la formation à votre organisation"
        url={pages.trainingCustom.path}
      >
        <BadgeList
          badges={[
            {
              label: "Niveau adapté",
            },
            {
							title: "Prix",
              label: "Sur devis",
            },
          ]}
        />
        <Text>
          {TrainingCustomFrontmatter.description}
        </Text>
        <List
          title="Quelques exemples de modules activables :"
          items={TrainingCustomFrontmatter.scope}
        />
      </Card>
    </div>
  </Section>

  <Section color="semantic-background-default-alt">
		<SectionHeader title="Méthodologie & modalités">
			<Fragment slot="subtitle">Bénéficiez d'un cadre structuré et stimulant, pensé pour transformer la théorie en réflexes opérationnels immédiats.</Fragment>
		</SectionHeader>
		<div class="grid">
			{trainingMethods.map(({ data: { title, items } }) => <List titleTag="h3" title={title} items={items} />)}
		</div>
  </Section>

  <Section>
    <MediaObject img={imgQualiopi} imgAlt="Qualiopi processus certifié - République Française" imgBordered={true} reversed={true}>
      <Stack gap={4}>
				<SectionHeader title="Un accompagnement certifié Qualiopi" />
				<Text>
					Cette certification atteste de la rigueur de nos processus pédagogiques. Elle est le gage de notre engagement à faire monter vos équipes en compétence sur le design et le produit avec efficacité et professionnalisme.
				</Text>
				<Stack gap={2}>
					<Text as="h3" variant="heading-6">Nous facilitons votre financement.</Text>
					<Text>
						Toutes nos formations sont éligibles à une prise en charge par votre OPCO. Nous vous guidons dans vos démarches administratives pour concrétiser vos projets sereinement.
					</Text>
				</Stack>
			</Stack>
    </MediaObject>
  </Section>

  <CreateOpportunity />
</Layout>
