---
import { getCollection } from "astro:content";
import DownloadIcon from "../assets/icons/download.svg?react";
import { Button } from "../components/Button/Button.tsx";
import Card from "../components/Card/Card.astro";
import CreateOpportunity from "../components/CreateOpportunity.astro";
import List from "../components/List/List.astro";
import Section from "../components/Section/Section.astro";
import SectionHeader from "../components/SectionHeader/SectionHeader.astro";
import Stack from "../components/Stack/Stack.astro";
import Text from "../components/Text/Text.astro";
import Layout from "../layouts/Layout.astro";
import { guideBookPath, pages } from "../site.config";

const guideBookChapters = await getCollection("guideBookChapters");
---

<Layout page={pages.guideBook}>
	<Fragment slot="page-header-cta">
		<Button
			as="a"
			href={guideBookPath}
			variant="primary"
			target="_blank"
			title="Télécharger le guide gratuit (PDF)">
			Télécharger le guide gratuit (PDF)
			<DownloadIcon/>
		</Button>
	</Fragment>

	<Section>
		<SectionHeader title="Ce que vous trouverez dans ce guide" />

    <div class="grid" style="--row-gap: var(--col-gap);">
			{
				guideBookChapters.map(({ data: { title, description, items, illustration } }) => (
				<Card
					variant="illustration"
					title={title}
					illustration={illustration}
				>
					<Text>{description}</Text>
					<List items={items} />
				</Card>
				))
			}
		</div>

		<div class="u-align-self:flex-end">
			<Button
				as="a"
				href={guideBookPath}
				variant="primary"
				target="_blank"
				title="Télécharger le guide gratuit (PDF)">
				Télécharger le guide gratuit (PDF)
				<DownloadIcon/>
			</Button>
		</div>
  </Section>

	<CreateOpportunity altColor={true} />
</Layout>
