---
import CalendarIcon from "../assets/icons/calendar.svg?react";
import Accordion from "../components/Accordion/Accordion.astro";
import { Button } from "../components/Button/Button.tsx";
import CreateOpportunity from "../components/CreateOpportunity.astro";
import List from "../components/List/List.astro";
import MediaObject from "../components/MediaObject/MediaObject.astro";
import Section from "../components/Section/Section.astro";
import SectionHeader from "../components/SectionHeader/SectionHeader.astro";
import Stack from "../components/Stack/Stack.astro";
import Text from "../components/Text/Text.astro";
import { offerPageFaq } from "../faq.config";
import Layout from "../layouts/Layout.astro";
import { contactExpertPath, pages } from "../site.config";
import { getCollectionSortedByOrder } from "../utils/collection.utils";

const services = await getCollectionSortedByOrder("services");
---

<Layout page={pages.offer}>
	<Fragment slot="page-header-cta">
		<Button
			as="a"
			href={contactExpertPath}
			target="_blank"
			variant="primary"
			title="Planifiez un échange"
		>
			<CalendarIcon/>Planifiez un échange
		</Button>
	</Fragment>

	{services.map((service, index) => {
		const isEven = index % 2 === 0;
		return (
			<Section id={service.id} color={`semantic-background-${isEven ? "default" : "default-alt"}`}>
				<MediaObject illustration={service.data.illustration} reversed={!isEven}>
					<Stack gap={4}>
						<SectionHeader title={service.data.title} />
						<Text variant="heading-4">{service.data.subtitle}</Text>
						<Text>{service.data.description}</Text>
						<List items={service.data.arguments} />
					</Stack>

					{service.id === "audit-conformite" && (
						<Button as="a" href={pages.audits.path} variant="secondary">En savoir plus</Button>
					)}
				</MediaObject>
			</Section>
		);
	})}

  <Section color="semantic-background-default-alt">
		<SectionHeader title="Questions fréquentes">
			<Fragment slot="subtitle">Les questions les plus courantes sur notre accompagnement.</Fragment>
		</SectionHeader>

    <Accordion sections={offerPageFaq} />
  </Section>

  <CreateOpportunity />
</Layout>
