---
import { Image } from "astro:assets";
import CalendarIcon from "../assets/icons/calendar.svg?react";
import LinkedInIcon from "../assets/icons/linkedin.svg?react";
import imgGroupeFg1 from "../assets/img/groupe-frontguys-1.jpg";
import imgGroupeFg4 from "../assets/img/groupe-frontguys-4.jpg";
import imgMargaux2x from "../assets/img/margaux@2x.jpg";
import imgMargaux3x from "../assets/img/margaux@3x.jpg";
import imgMargaux from "../assets/img/margaux.jpg";
import Accordion from "../components/Accordion/Accordion.astro";
import Alert from "../components/Alert/Alert.astro";
import Avatar from "../components/Avatar/Avatar.astro";
import Badge from "../components/Badge/Badge.astro";
import BadgeList from "../components/BadgeList/BadgeList.astro";
import Banner from "../components/Banner/Banner.astro";
import { Button } from "../components/Button/Button.tsx";
import Card from "../components/Card/Card.astro";
import ContactExpertBanner from "../components/ContactExpertBanner.astro";
import FormElement from "../components/FormElement/FormElement.astro";
import Input from "../components/Input/Input.astro";
import Link from "../components/Link/Link.astro";
import List from "../components/List/List.astro";
import MediaObject from "../components/MediaObject/MediaObject.astro";
import ProfileBanner from "../components/ProfileBanner/ProfileBanner.astro";
import Section from "../components/Section/Section.astro";
import SectionHeader from "../components/SectionHeader/SectionHeader.astro";
import Stack from "../components/Stack/Stack.astro";
import Text from "../components/Text/Text.astro";
import VisuallyHidden from "../components/VisuallyHidden.astro";
import Layout from "../layouts/Layout.astro";
import { pages } from "../site.config";
import { getCollectionSortedByOrder } from "../utils/collection.utils";

const businessCases = await getCollectionSortedByOrder("businessCases");
---

<Layout page={pages.styleguide}>
  <Stack class="styleguide">
    <Section>
      <SectionHeader title="Table of content" />

      <Stack gap={4} as="ul">
        <li><Link href="#hero" label="Hero" /></li>
        <li><Link href="#section" label="Section" /></li>
        <li><Link href="#texts" label="Text styles" /></li>
        <li><Link href="#link" label="Link" /></li>
        <li><Link href="#list" label="List" /></li>
        <li><Link href="#badge" label="Badge" /></li>
        <li><Link href="#badgelist" label="Badge List" /></li>
        <li><Link href="#avatar" label="Avatar" /></li>
        <li><Link href="#images" label="Images" /></li>
        <li><Link href="#buttons" label="Buttons" /></li>
        <li><Link href="#blockquote" label="Blockquote" /></li>
        <li><Link href="#input" label="Input" /></li>
        <li><Link href="#form" label="Form elements" /></li>
        <li><Link href="#alert" label="Alert" /></li>
        <li><Link href="#media" label="Media object" /></li>
        <li><Link href="#accordion" label="Accordion" /></li>
        <li><Link href="#card" label="Card" /></li>
        <li><Link href="#cardlist" label="Card List" /></li>
        <li><Link href="#banner" label="Banner" /></li>
        <li><Link href="#profilebanner" label="Profile Banner" /></li>
      </Stack>
    </Section>

    <a id="hero"></a>

    <Section as="header">
      <SectionHeader titleTag="h2" title="Hero title">
        <Fragment slot="surtitle">Hero surtitle</Fragment>
        <Fragment slot="subtitle">Hero subtitle</Fragment>
      </SectionHeader>
    </Section>

    <Section as="header">
      <MediaObject img={imgGroupeFg4}>
        <SectionHeader titleTag="h2" title="Hero title">
          <Fragment slot="surtitle">Hero surtitle</Fragment>
          <Fragment slot="subtitle">Hero subtitle</Fragment>
        </SectionHeader>

        <Button>Télécharger notre guide gratuit</Button>
      </MediaObject>
    </Section>

    <a id="section"></a>

    <Section>
      <SectionHeader title="Section Title">
        <Fragment slot="subtitle">Section subtitle</Fragment>
      </SectionHeader>
      <Text>
        Nous sommes convaincus que la technologie doit servir l'humain, pas
        l'inverse. Notre approche place les utilisateurs au cœur de chaque
        décision.
      </Text>
      <Text>
        Nous sommes convaincus que la technologie doit servir l'humain, pas
        l'inverse. Notre approche place les utilisateurs au cœur de chaque
        décision.
      </Text>
    </Section>

    <Section color="semantic-background-default-alt">
      <SectionHeader title="Alternative color Section Title">
        <Fragment slot="subtitle">Alternative color Section subtitle</Fragment>
      </SectionHeader>
      <Text>
        Nous sommes convaincus que la technologie doit servir l'humain, pas
        l'inverse. Notre approche place les utilisateurs au cœur de chaque
        décision.
      </Text>
      <Text>
        Nous sommes convaincus que la technologie doit servir l'humain, pas
        l'inverse. Notre approche place les utilisateurs au cœur de chaque
        décision.
      </Text>
    </Section>

    <Section verticallyCentered>
      <SectionHeader title="Centered Section Title">
        <Fragment slot="subtitle">Centerred Section subtitle</Fragment>
      </SectionHeader>
      <Text>
        Nous sommes convaincus que la technologie doit servir l'humain, pas
        l'inverse. Notre approche place les utilisateurs au cœur de chaque
        décision.
      </Text>
      <Text>
        Nous sommes convaincus que la technologie doit servir l'humain, pas
        l'inverse. Notre approche place les utilisateurs au cœur de chaque
        décision.
      </Text>
    </Section>

    <a id="texts"></a>
    <Section>
      <SectionHeader title="Text styles" />
      <Stack gap={4}>
        <Text as="h1" variant="heading-1">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="heading-2">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="heading-3">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="heading-4">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="heading-5">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="heading-6">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="subtitle">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="body-1">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="body-2">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="caption-1">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="caption-2">
          The quick brown fox jumps over the lazy frog
        </Text>
        <Text variant="code"> const code = l33t </Text>
      </Stack>
    </Section>

    <a id="link"></a>
    <Section>
      <SectionHeader title="Link" />
      <Stack gap={4}>
        <Link href="/" label="Lien interne" />
        <Link href="/" label="Lien interne non souligné" variant="standalone" />
        <Link
          href="/"
          label="Lien externe déterminé par target _blank"
          target="_blank"
        />
        <Link
          href="https://www.frontguys.fr"
          label="Lien externe déterminé par https"
        />
        <Link href="/" label="Lien retour" variant="back" />
      </Stack>
    </Section>

    <a id="list"></a>
    <Section>
      <SectionHeader title="List" />
      <List
        title="Ce que vous apprendrez :"
        items={[
          "Référentiel RGAA 4.1",
          "Mise en situation de handicap",
          "Outils d'évaluation",
          "Rédaction de rapports",
        ]}
      />
    </Section>

    <a id="badge"></a>
    <Section>
      <SectionHeader title="Badge" />
      <Stack gap={4}>
        <Badge label="Default Badge" />
        <!-- <Badge variant="invert" label="Invert" />
        <Badge variant="primary" label="Primary" />
        <Badge variant="alternative" label="Alternative" /> -->
      </Stack>
    </Section>

    <a id="badgelist"></a>
    <Section>
      <SectionHeader title="BadgeList" />
      <Stack gap={4}>
        <BadgeList
          label="Badge list label"
          badges={[
            {
              label: "Badge 1",
            },
            {
              label: "Badge 2",
            },
            {
              label: "Badge 3",
            },
            {
              label: "Badge 4",
            },
          ]}
        />
        <!-- <BadgeList
          label="Badge list label"
          variant="primary"
          badges={[
            {
              label: "All",
            },
            {
              label: "Badges",
            },
            {
              label: "Are",
            },
            {
              label: "Primary",
            },
          ]}
        />
        <BadgeList
          label="Badge list label"
          variant="alternative"
          badges={[
            {
              label: "All",
            },
            {
              label: "Badges",
            },
            {
              label: "Are",
            },
            {
              label: "Alternative",
            },
          ]}
        />
        <BadgeList
          label="Badge list label"
          badges={[
            {
              label: "Each",
            },
            {
              label: "Badge",
              variant: "primary",
            },
            {
              label: "Different",
              variant: "alternative",
            },
          ]}
        /> -->
      </Stack>
    </Section>

    <a id="avatar"></a>
    <Section>
      <SectionHeader title="Avatar" />
      <Stack gap={4}>
        <Avatar src="/src/assets/img/hamza-iqbal.png" imgAlt="Hamza Iqbal" />
        <Avatar src="/src/assets/img/margaux.jpg" imgAlt="Margaux" />
      </Stack>
    </Section>

    <a id="images"></a>
    <Section>
      <SectionHeader title="Images" />
      <Stack gap={4}>
        <Stack gap={2}>
          <img
            src={imgMargaux.src}
            alt=""
            srcset={`${imgMargaux2x.src} 2x, ${imgMargaux3x.src} 3x`}
          />
          <Text
            >Affichage d'images différentes selon le DPR (1x, 2x, 3x) avec la
            balise image native. Regarder le texte en haut à gauche de l'image
            après avoir changé le DPR dans les devtools</Text
          >
        </Stack>
        <Stack gap={2}>
          <Image src={imgMargaux} alt="" densities={[1, 2, 3]} />
          <Text
            >Astro génère bien des images pour chaque densité définie à partir
            de l'image source.</Text
          >
        </Stack>
      </Stack>
    </Section>

    <a id="buttons"></a>
    <Section>
      <SectionHeader title="Buttons" />
      <Stack gap={4}>
        <Button>Pré-inscription</Button>
        <Button variant="secondary">Design System (3)</Button>
        <Button variant="ghost">align-justify</Button>
        <Button isSquared>
          <LinkedInIcon />
          <VisuallyHidden label="Linkedin" />
        </Button>
        <Button variant="secondary" isSquared>
          <LinkedInIcon />
          <VisuallyHidden label="Linkedin" />
        </Button>
        <Button variant="ghost" isSquared>
          <LinkedInIcon />
          <VisuallyHidden label="Linkedin" />
        </Button>
      </Stack>
    </Section>

    <a id="blockquote"></a>
    <Section>
      <SectionHeader title="Blockquote" />
      <blockquote>
        <p>
          Mettre le Web et ses services à la disposition de tous les individus,
          quel que soit leur matériel ou logiciel, leur infrastructure réseau,
          leur langue maternelle, leur culture, leur localisation géographique,
          ou leurs aptitudes physiques ou mentales.
        </p>
        <cite>Tim Berners-Lee - Créateur du WWW et Directeur du W3C.</cite>
      </blockquote>
    </Section>

    <a id="input"></a>
    <Section>
      <SectionHeader title="Input" />
      <Input icon="search">
        <input type="text" placeholder="Rechercher" />
      </Input>
      <Input>
        <input type="number" placeholder="SIRET" />
      </Input>
    </Section>

    <a id="form"></a>
    <Section>
      <SectionHeader title="Form Elements" />
      <Stack gap={4}>
        <FormElement
          name="name"
          labelText="Nom"
          element="input"
          inputType="text"
          placeholder="Nom"
        />
        <FormElement
          name="companyAddress"
          labelText="Votre message"
          element="textarea"
          placeholder="Votre message"
          error="Please set a delivery address"
        />
        <FormElement
          element="select"
          name="formation"
          labelText="Type de formation"
          options={["Design systems", "Design tokens"]}
          value={0}
        />
        <FormElement
          name="consent"
          labelText="En cochant cette case, j'accepte que Frontguys traite mes données personnelles pour m'envoyer des communications en lien avec ses services et contenus (Je peux me désinscrire à tout moment)."
          inputType="checkbox"
        />
        <FormElement
          element="input"
          inputType="checkbox"
          name="formation"
          labelText="Type"
          error={"hi"}
        />
        <FormElement
          element="input"
          inputType="checkbox"
          name="formation"
          labelText="Type"
          link={{
            href: "#",
            label: "En savoir plus",
          }}
        />
      </Stack>
    </Section>

	<a id="alert"></a>
	<Section>
		<SectionHeader title="Alert" />
		<Alert variant="success" text="Alerte de succès" />
		<Alert variant="success" text="Alerte de succès avec description" description="Votre message a été envoyé avec succès." />
		<Alert variant="error" text="Alerte d'erreur" />
		<Alert variant="error" text="Alerte d'erreur avec description" description="Une erreur est survenue lors de l'envoi de votre message." />
	</Section>

    <a id="media"></a>
    <Section>
      <SectionHeader title="Media Object" />
      <MediaObject img={imgGroupeFg1}>
        <SectionHeader
          titleVariant="heading-2"
          title="Notre expertise au service de l'humain"
        >
          <Fragment slot="subtitle"
            >Nous sommes convaincus que la technologie doit servir l'humain, pas
            l'inverse. Notre approche place les utilisateurs au cœur de chaque
            décision.</Fragment
          >
        </SectionHeader>
        <Button>Découvrez notre expertise</Button>
      </MediaObject>

      <MediaObject img={imgGroupeFg1} reversed={true}>
        <SectionHeader
          titleVariant="heading-2"
          title="Notre expertise au service de l'humain"
        >
          <Fragment slot="subtitle"
            >Nous sommes convaincus que la technologie doit servir l'humain, pas
            l'inverse. Notre approche place les utilisateurs au cœur de chaque
            décision.</Fragment
          >
        </SectionHeader>
        <Button>Découvrez notre expertise</Button>
      </MediaObject>
    </Section>

    <a id="accordion"></a>
    <Section>
      <SectionHeader title="Accordion" />
      <Accordion
        sections={[
          {
            title: "Qu'est-ce que l'accessibilité numérique ?",
            content:
              "L'accessibilité numérique consiste à rendre les services numériques (sites web, applications mobiles, etc.) compréhensibles et utilisables par tous, notamment les personnes en situation de handicap. Cela inclut les handicaps visuels, auditifs, moteurs et cognitifs.",
          },
          {
            title:
              "Quelles sont les lois qui concernent l'accessibilité numérique ?",
            content:
              "La Loi Handicap de février 2005 est la loi fondatrice qui a introduction l'accessibilité numérique en France. Elle a été renforcée au fil des années par les transpositions des directives européennes « WAD » (2016/2102) puis « EAA » (2019/882).",
          },
          {
            title: "Qu'est-ce que le RGAA ?",
            content:
              "Le RGAA (Référentiel Général d'Amélioration de l'Accessibilité) est le référentiel français pour l'accessibilité numérique. Il se base sur les recommandations internationales WCAG (niveau AA) et fournit une liste de critères à respecter ainsi que la méthodologie d'évaluation pour être en conformité.",
          },
          {
            title: "Qu'est-ce qu'un audit d'accessibilité ?",
            content:
              "L'audit d'accessibilité numérique est un moyen d'évaluer la prise en compte des règles d'accessibilité dans les contenus et services numérique. C'est une évaluation experte qui se base sur les référentiels en vigueur (ex : RGAA pour la France) et qui aboutit sur un rapport détaillé et une restitution auprès des équipes opérationnelles. Plusieurs types d'audits sont possibles mais seul l'audit de conformité RGAA permet d'obtenir une déclaration d'accessibilité au sens légal.",
          },
          {
            title: "Combien coûte un audit d'accessibilité ?",
            content:
              "Le coût d'un audit dépend de la complexité et du volume de pages auditées. Un audit rapide peut commencer à partir de quelques milliers d'euros, tandis qu'un audit complet et conforme au RGAA peut aller de 8 000 à 25 000 euros selon le périmètre.",
          },
        ]}
      />
    </Section>

    <a id="card"></a>
    <Section>
      <SectionHeader title="Card" />
      <Card
        variant="photo"
        title="Lefebvre Dalloz"
        subtitle="Déploiement de l'accessibilité dans la stratégie produit."
        url="https://frontguys.fr"
        imgPath="/src/assets/img/cas-client-lefebvre-dalloz-accompagnement.jpg"
      />
      <Card
        variant="simple"
        title="Audit & conformité"
        subtitle="Évaluez vos services et remplissez vos obligations légales."
        url="https://frontguys.fr"
      />
      <Card
        variant="freeform"
        title="Comprendre les enjeux de l'accessibilité numérique"
        url="https://frontguys.fr"
      >
        <BadgeList
          badges={[
            {
              label: "Découverte",
            },
            {
              label: "1 jour",
            },
            {
              label: "900€",
            },
          ]}
        />
        <Text
          >Sensibilisez vos équipes aux enjeux de l'accessibilité, aux
          obligations légales et aux bonnes pratiques. Cette formation propose
          des mises en situation concrètes pour initier une culture d'entreprise
          inclusive.</Text
        >
        <List
          title="Ce que vous apprendrez :"
          items={[
            "Contexte légal et réglementaire.",
            "Mise en situation de handicap",
            "Enjeux business et RSE",
            "Plan d'action concret",
          ]}
        />
      </Card>
      <Card
        variant="illustration"
        title="Card Illustration"
        illustration="illustration-piece-puzzle"
      >
        <List
          title="Ce que vous apprendrez :"
          items={[
            "Contexte légal et réglementaire.",
            "Mise en situation de handicap",
            "Enjeux business et RSE",
            "Plan d'action concret",
          ]}
        />
      </Card>
    </Section>

    <a id="cardlist"></a>
    <Section color="semantic-background-default-alt">
      <SectionHeader title="Card list" />

      <div class="grid">
        {
          businessCases.map(({ id, data: { title, description, imgPath } }) => (
            <Card
              variant="photo"
              title={title}
              subtitle={description}
              url={`${pages.businessCases.path}/${id}`}
              imgPath={imgPath}
            />
          ))
        }
      </div>
    </Section>

    <a id="banner"></a>
    <Section>
      <SectionHeader title="Banner" />
      <Banner aria-label="Prendre rendez-vous">
        <Text as="strong">
          Prenez un rendez-vous de 30 min
        </Text> avec un de nos experts en accessibilité numérique
        <Button
          slot="cta"
          as="a"
          href="https://frontguys.fr/#contact"
          variant="secondary"
          title="Réserver un creneau"
          ><CalendarIcon /> Réserver un créneau</Button
        >
      </Banner>
    </Section>

    <a id="profilebanner"></a>
    <Section>
      <SectionHeader title="Profile Banner" />

      <ProfileBanner
        avatarSrc="/src/assets/img/hamza-iqbal.png"
        title="Banner title"
        name="Person name"
        description="Person occupation"
      >
        <Button slot="cta" as="a" href="#" variant="secondary"
          >Call to action</Button
        >
      </ProfileBanner>

      <ContactExpertBanner />
    </Section>
  </Stack>

  <style>
    .styleguide {
      .l-section {
        &:hover {
          outline: 2px dashed #f00;
        }
      }

      .card-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

        .o-card {
          height: 100%;
        }
      }
    }
  </style>
</Layout>
