---
import type { HTMLTag, Polymorphic } from "astro/types";
import { pages } from "../site.config";
import { Button } from "./Button/Button.tsx";
import Section from "./Section/Section.astro";
import SectionHeader from "./SectionHeader/SectionHeader.astro";
import Stack from "./Stack/Stack.astro";
import Text from "./Text/Text.astro";

type Props = {
	altColor?: boolean;
	surtitle?: string;
	title?: string;
	subtitle?: string;
	ghostLabel?: string;
	primaryLabel?: string;
};

const {
	altColor = false,
	surtitle,
	title = "Un premier échange pour identifier vos enjeux",
	subtitle = "Gratuit. Sans engagement. On identifie vos besoins en 30 minutes.",
	ghostLabel = "Parlez à un expert",
	primaryLabel = "Demandez un diagnostic",
	...attrs
} = Astro.props;
---

<Section
	verticallyCentered={true}
	gap="static"
	color={altColor ? "semantic-background-default-alt" : "semantic-background-subtle"}
	{...attrs}>
	{surtitle && (
		<Text as="p" variant="surtitle" color="semantic-brand-primary" class="text-center">{surtitle}</Text>
	)}
	<SectionHeader title={title}>
		<Fragment slot="subtitle">{subtitle}</Fragment>
	</SectionHeader>
	<Stack gap={4} axis="x" wrap={true} justify="center">
		<Button as="a" href={pages.contact.path} variant="secondary">{ghostLabel}</Button>
		<Button as="a" href={pages.contact.path}>{primaryLabel}</Button>
	</Stack>
</Section>