---
import Card from "../../components/Card/Card.astro";
import ContactExpertBanner from "../../components/ContactExpertBanner.astro";
import CreateOpportunity from "../../components/CreateOpportunity.astro";
import List from "../../components/List/List.astro";
import Section from "../../components/Section/Section.astro";
import SectionHeader from "../../components/SectionHeader/SectionHeader.astro";
import Stack from "../../components/Stack/Stack.astro";
import Text from "../../components/Text/Text.astro";
import Layout from "../../layouts/Layout.astro";
import { pages } from "../../site.config";
import { getCollectionSortedByOrder } from "../../utils/collection.utils";

const auditMethods = await getCollectionSortedByOrder("auditsMethod");
const audits = await getCollectionSortedByOrder("audits");
const auditsDesign = audits.filter((audit) => audit.data.type === "design");
const auditsProduct = audits.filter((audit) => audit.data.type === "product");
---

<Layout page={pages.audits}>
	<Section aria-label="Nos audits design et produit">
		<Text as="h2" variant="heading-3">Audits design & système de design</Text>

		<div class="grid" style="--max-cols-per-row: 2;">
			{ auditsDesign.map((audit) => (
				<Card variant="freeform" title={audit.data.title}>
					<Stack set:html={audit.rendered?.html} gap={4} class="text-body-1" />
					<List title="Idéal pour :" items={audit.data.arguments} />
				</Card>
			))}
		</div>

		<Text as="h2" variant="heading-3">Audits produit & UX</Text>

		<div class="grid">
			{ auditsProduct.map((audit) => (
				<Card variant="freeform" title={audit.data.title}>
					<Stack set:html={audit.rendered?.html} gap={4} class="text-body-1" />
					<List title="Idéal pour :" items={audit.data.arguments} />
				</Card>
			))}
		</div>

		<Text as="h2" variant="heading-3">Rencontrez notre expert en design & produit</Text>

		<ContactExpertBanner />
	</Section>

	<Section color="semantic-background-default-alt">
		<SectionHeader title="Comment se déroule un audit design & produit ?">
			<Fragment slot="subtitle">Nos audits design et produit suivent une méthodologie structurée pour évaluer la cohérence, l’efficacité et la scalabilité de votre interface utilisateur.</Fragment>
		</SectionHeader>

		<ol class="grid">
			{auditMethods.map((auditMethod, index) => (
				<Stack as="li" gap={2}>
					<Stack as="h3" gap={2} axis="y">
						<Text as="span" variant="surtitle">Étape {index + 1} :</Text>
						<Text as="span" variant="heading-4">{auditMethod.data.title}</Text>
					</Stack>
					<Text>{auditMethod.data.text}</Text>
				</Stack>
			))}
		</ol>

	</Section>

  <CreateOpportunity />
</Layout>
